<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!--For icons-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
           <style>
  a {
    color: white;
  }
  </style>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

       
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <!-- Modal Trigger TO DO : ajout de la page -->
         
          <nav>
    <div class="nav-wrapper blue lighten-4">
      <a href="#" class="brand-logo">
        <img class="materialboxed" width="148" src="images/hello.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
       </nav>

            <div class="row">
        <div class="col s1 offset-s11"><a class="waves-effect waves-light indigo darken-4 btn" href="index.html"><i class="material-icons">home</i></a> 
        </div>

        <a class="waves-effect waves-light btn modal-trigger indigo darken-4" href="algorithm-new.component.html"><i class="material-icons">add</i></a>
       
          <!-- Début du tableau TO DO : le rendre dynamique-->
            
         <table class="striped" >
        <thead>
          <tr>
              <th>Action</th>
              <th>Algorithms</th>
            
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
                <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   <a href="algorithm-new.component.html">Edit</a>
                  <i class="material-icons left">create</i>
                </button> 
                <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   Delete
                  <i class="material-icons left">delete</i>
                <br/>
            </td>
            <td>Test 1</td>
          </tr>
          <tr>
            <td><button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   <a href="algorithm-new.component.html">Edit</a>
                  <i class="material-icons left">create</i>
                </button> 
                <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   Delete
                  <i class="material-icons left">delete</i>
              </td>
            <td>Test 2</td>
          </tr>
          <tr>
            <td><button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   <a href="algorithm-new.component.html">Edit</a>
                  <i class="material-icons left">create</i>
                </button> 
                <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
                   Delete
                  <i class="material-icons left">delete</i>
            </td>
            <td>Test 3</td>
          </tr>
        </tbody>
      </table>
            

    </body>
  </html>